# Ignore environment directories
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Ignore other common files
*.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Cache folders
__pycache__/
*.py[cod]

# Ignore Python bytecode files
*.pkl
*.csv
*.json
*.sh
*.ipynb

# Folders
data/
results/
logs/